@import 'decanter/src/css/index-base16.css';

@theme {
  --font-sans: var(--font-source-sans);
  --font-serif: var(--font-source-serif);
  --font-stanford: var(--font-stanford);
}

/* Two column grids */
@utility grid-cols-1-1 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
@utility grid-cols-1-2 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}
@utility grid-cols-1-3 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
}
@utility grid-cols-1-4 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
}
@utility grid-cols-2-1 {
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}
@utility grid-cols-2-3 {
  grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
}
@utility grid-cols-3-1 {
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
}
@utility grid-cols-4-1 {
  grid-template-columns: minmax(0, 4fr) minmax(0, 1fr);
}

/* Three column grids */
@utility grid-cols-1-1-1 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
@utility grid-cols-1-1-2 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
}
@utility grid-cols-1-1-3 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr);
}
@utility grid-cols-1-1-4 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 4fr);
}
@utility grid-cols-1-2-1 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
}
@utility grid-cols-1-3-1 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
}
@utility grid-cols-1-4-1 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr);
}
@utility grid-cols-2-1-1 {
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr);
}
@utility grid-cols-3-1-1 {
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
}
@utility grid-cols-4-1-1 {
  grid-template-columns: minmax(0, 4fr) minmax(0, 1fr) minmax(0, 1fr);
}
